<!-- Loading animation -->
<div class="preloader">
  <div class="preloader-animation">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
<!-- /Loading animation -->

<div id="page" class="page template-style-dark">

  <%= render partial: 'header' %>

  <!-- Main Content -->
  <div id="main" class="site-main">
    <!-- Page changer wrapper -->
    <div class="pt-wrapper" style="background-image: url(assets/main_background.jpg);">
      <!-- Subpages -->
      <div class="subpages">

        <%= render partial: 'home' %>

        <%= render partial: 'profile' %>

        <%= render partial: 'resume' %>

        <%= render partial: 'portfolio' %> 

        <%= render partial: 'contact' %>         

      </div>
    </div>
    <!-- /Page changer wrapper -->
  </div>
  <!-- /Main Content -->
</div>

<script src="assets/bootstrap.min.js"></script>
<script src="assets/pages-switcher.js"></script>
<script src="assets/imagesloaded.pkgd.min.js"></script>
<script src="assets/validator.js"></script>
<script src="assets/jquery.shuffle.min.js"></script>
<script src="assets/masonry.pkgd.min.js"></script>
<script src="assets/owl.carousel.min.js"></script>
<script src="assets/jquery.magnific-popup.min.js"></script>
<script src="assets/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/tilt.jquery.min.js"></script>
<script src="assets/jquery.hoverdir.js"></script>
<script src="assets/main.js"></script>
